<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gestordedatos.gestordedatos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpNick">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.MainActivity" />
        </activity>
        <activity android:name=".SignUpPersonalData">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.SignUpNick" />
        </activity>
        <activity android:name=".SignUpGender">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.SignUpPersonalData" />
        </activity>
        <activity android:name=".SignUpTypeMember">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.SignUpGender" />
        </activity>
        <activity android:name=".SignUpPasswords">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.SignUpTypeMember" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/mainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormListClassrooms"
            android:label="@string/titleClassrooms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.MainMenu" />
        </activity>
        <activity
            android:name=".FormListSubjects"
            android:label="@string/titleSubjects">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.MainMenu" />
        </activity>
        <activity
            android:name=".FormListTutorships"
            android:label="@string/titleTutorships">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gestordedatos.gestordedatos.MainMenu" />
        </activity>
    </application>

</manifest>